
<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-header">
        <%= image_tag "profile-5.png", alt: "admin-profile", class: "logo-circle" %>
        <h5 class="mb-0"><%= current_user.full_name || "Default Admin" %></h5>
    </div>

    <nav class="mt-4">
        <div class="nav flex-column">
            <%= link_to admins_dashboard_path, {class: "nav-link"} do%>
                <i class="bi bi-speedometer2 me-2"></i>Dashboard
            <% end %>
            <%= link_to admins_users_path, {class: "nav-link"} do%>
                <i class="bi bi-people me-2"></i>Users
            <% end %>
            <%= link_to admins_videos_path, {class: "nav-link"} do%>
                <i class="bi bi-play-circle me-2"></i>Videos
            <% end %>
        </div>
    </nav>

    <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "logout-btn" %>
</div>